[alias]
    a = add
    b = branch
    c = commit
    d = diff
    f = fetch
    l = log --oneline --graph --all
    m = merge
    p = push
    r = rebase
    s = status
    w = switch

[branch]
    sort = -committerdate

[column]
    ui = auto

[commit]
    verbose = true

[core]
    editor = nvim
    fsmonitor = true
    pager = delta
    untrackedCache = true

[delta]
    line-numbers = true
    navigate = true
    side-by-side = true
    syntax-theme = catppuccin-mocha

[diff]
    algorithm = histogram
    colorMoved = default
    colorMovedWS = allow-indentation-change
    mnemonicPrefix = true

[fetch]
    all = true
    prune = true
    pruneTags = true
    writeCommitGraph = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f

[github]
    user = {{ .github_user }}

[help]
    autocorrect = prompt

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only --paging=never

[merge]
    conflictstyle = zdiff3

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = current

[rebase]
    autoSquash = true
    autoStash = true
    missingCommitsCheck = warn
    updateRefs = true

[rerere]
    autoupdate = true
    enabled = true

[tag]
    sort = version:refname

[transfer]
    fsckobjects = true

[user]
    name = {{ .git_name }}
    email = {{ .git_email }}
