---
- name: package
  community.general.pipx:
    name: cookiecutter
  tags: user

- name: upgrade
  community.general.pipx:
    name: cruft
  tags: user

- name: config
  ansible.builtin.copy:
    src: "{{ role_path }}/files/cookiecutterrc"
    dest: ~/.cookiecutterrc
    force: false
  tags: user
