---
- name: keyring
  ansible.builtin.get_url:
    url: "https://cli.github.com/packages/githubcli-archive-keyring.gpg"
    dest: "/etc/apt/trusted.gpg.d/github-cli.gpg"
    mode: "0644"
  when: ansible_facts['os_family'] == 'Debian'
  become: true
  tags: admin

- name: repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/trusted.gpg.d/github-cli.gpg] https://cli.github.com/packages stable main"
    filename: docker
  when: ansible_facts['os_family'] == 'Debian'
  become: true
  tags: admin

- name: package
  ansible.builtin.package:
    name: gh
  become: true
  tags: admin
