# Appearance
theme = "Catppuccin Mocha"

# Font Configuration
font-family = "FiraCode Nerd Font Mono"
font-feature = -calt
font-feature = -liga
font-size = 13

# macOS Specific
macos-option-as-alt = left

# Quality of Life
copy-on-select = clipboard
clipboard-paste-protection = true
mouse-shift-capture = false
window-save-state = always

# Zellij & Shell Integration
confirm-close-surface = false
shell-integration-features = true

# Launch fish through the mise shim
command = {{ joinPath .chezmoi.homeDir ".local/share/mise/shims/fish" | quote }}
