pane_frames false
default_shell "fish"
default_layout "default"
theme "catppuccin-mocha"

keybinds {
    shared_except "locked" {
        unbind "Ctrl h"
    }
    shared_except "move" "locked" {
        bind "Ctrl m" { SwitchToMode "Move"; }
    }
    move {
        bind "Ctrl m" { SwitchToMode "Normal"; }
    }
}
