pane_frames false
default_shell "fish"
default_layout "main"
theme "catppuccin-mocha"

keybinds {
    shared_except "locked" {
        unbind "Ctrl h" // Conflicts with nvim window navigation
    }
    shared_except "move" "locked" {
        bind "Alt m" { SwitchToMode "Move"; }
    }
    move {
        bind "Alt m" { SwitchToMode "Normal"; }
    }
}
