---
- name: keyring
  ansible.builtin.get_url:
    url: "https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key"
    dest: "/etc/apt/keyrings/nodesource.asc"
    mode: "0644"
    force: true
  when: ansible_facts['distribution'] != 'MacOSX'
  become: true
  tags: admin

- name: repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/nodesource.asc] https://deb.nodesource.com/node_{{ nodejs_version | default('24') }}.x nodistro main"
    filename: nodesource
  when: ansible_facts['distribution'] != 'MacOSX'
  become: true
  tags: admin

- name: package
  ansible.builtin.package:
    name: nodejs
  become: true
  tags: admin

- name: config
  ansible.builtin.file:
    src: "{{ role_path }}/files/npmrc"
    dest: ~/.npmrc
    state: link
    force: true
  tags: user
