---
- name: package
  ansible.builtin.package:
    name: byobu
  become: true
  tags: admin

- name: manager
  community.general.pipx:
    name: tmuxp
  tags: user

- name: directory
  ansible.builtin.file:
    path: ~/.byobu
    state: directory
    mode: 0750
  tags: user

- name: configs
  ansible.builtin.file:
    src: "{{ item }}"
    dest: "~/.byobu/{{ item|basename }}"
    state: link
    force: true
  with_fileglob:
    - "{{ role_path }}/files/*"
  tags: user

- name: layouts
  ansible.builtin.file:
    src: "{{ role_path }}/files"
    dest: ~/.tmuxp
    state: link
    force: true
  tags: user

- name: tmux
  ansible.builtin.file:
    src: "{{ role_path }}/files/.tmux.conf"
    dest: ~/.byobu/.tmux.conf
    state: link
    force: true
  tags: user
