---

- name: package
  ansible.builtin.package:
    name:
      - curl
      - git
      - unzip
      - xz-utils
      - zip
      - libglu1-mesa
    state: present
  become: true
  tags: admin

- name: directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/flutter"
    state: directory
    mode: '0755'
  tags: user

- name: install
  ansible.builtin.git:
    repo: https://github.com/flutter/flutter.git
    dest: "{{ ansible_env.HOME }}/flutter"
    version: stable
    depth: 1
  tags: user
