[settings]
github_attestations = false
lockfile = true
slsa = false

[tools]
"aqua:fish-shell/fish-shell" = "latest"
"npm:@angular/cli" = "latest"
"npm:@google/clasp" = "latest"
"npm:@google/gemini-cli" = "latest"
"npm:@google/jules" = "latest"
"npm:@mermaid-js/mermaid-cli" = "latest"
"npm:lighthouse" = "latest"
"npm:neovim" = "latest"
"npm:pnpm" = "latest"
"npm:tsx" = "latest"
"npm:typescript" = "latest"
"pipx:ptpython" = "latest"
"pipx:pynvim" = "latest"
age = "latest"
ast-grep = "latest"
atuin = "latest"
bat = "latest"
biome = "latest"
bottom = "latest"
carapace = "latest"
chezmoi = "latest"
d2 = "latest"
delta = "latest"
dive = "latest"
doggo = "latest"
duf = "latest"
dust = "latest"
eza = "latest"
fastfetch = "latest"
fd = "latest"
firebase = "latest"
fzf = "latest"
gcloud = "latest"
gh = "latest"
{{- if eq .chezmoi.os "linux" }}
{{-   if eq .chezmoi.arch "amd64" }}
"github:googleworkspace/cli" = { version = "latest", asset_pattern = "*x86_64-unknown-linux-musl*" }
{{-   else if eq .chezmoi.arch "arm64" }}
"github:googleworkspace/cli" = { version = "latest", asset_pattern = "*aarch64-unknown-linux-musl*" }
{{-   else }}
"github:googleworkspace/cli" = { version = "latest", asset_pattern = "*linux-musl*" }
{{-   end }}
{{- else }}
"github:googleworkspace/cli" = "latest"
{{- end }}
git-lfs = "latest"
gitleaks = "latest"
go = "latest"
gofumpt = "latest"
golangci-lint = "latest"
hadolint = "latest"
jq = "latest"
just = "latest"
lazydocker = "latest"
lazygit = "latest"
neovim = "latest"
node = "lts"
pipx = "latest"
pre-commit = "latest"
python = "latest"
rclone = "latest"
ripgrep = "latest"
ruff = "latest"
sqlite = "latest"
starship = "latest"
steampipe = "latest"
terraform = "latest"
tree-sitter = "0.26.8"
uv = "latest"
xh = "latest"
yazi = "latest"
yq = "latest"
zellij = "latest"
zoxide = "latest"
