---
- name: package
  ansible.builtin.package:
    name: zsh
  become: true
  tags: admin

- name: directories
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    mode: "0750"
  loop:
    - ~/.zsh.d/
    - ~/.zsh.d/themes
    - ~/.zsh.d/plugins
  tags: user

- name: manager
  ansible.builtin.git:
    repo: https://github.com/robbyrussell/oh-my-zsh.git
    dest: ~/.oh-my-zsh
    depth: 1
  tags: user

- name: plugins
  ansible.builtin.git:
    repo: "https://github.com/{{ item }}.git"
    dest: "~/.zsh.d/plugins/{{ item | basename}}"
    depth: 1
  loop:
    - djui/alias-tips
    - hlissner/zsh-autopair
    - zsh-users/zsh-completions
    - zsh-users/zsh-autosuggestions
    - zsh-users/zsh-syntax-highlighting
  tags: user

- name: environ
  ansible.builtin.file:
    src: "{{ role_path }}/files/zshenv"
    dest: ~/.zshenv
    state: link
    force: true
  tags: user

- name: config
  ansible.builtin.file:
    src: "{{ role_path }}/files/zshrc"
    dest: ~/.zshrc
    state: link
    force: true
  tags: user
