---
- name: clone
  ansible.builtin.git:
    repo: https://github.com/tfutils/tfenv.git
    dest: ~/.tfenv
    depth: 1
  when: ansible_facts['distribution'] != 'MacOSX'
  tags: user

- name: package (macos)
  ansible.builtin.homebrew:
    name: tfenv
  when: ansible_facts['distribution'] == 'MacOSX'
  tags: user

- name: install latest
  ansible.builtin.command: tfenv install latest
  register: tfenv_install
  changed_when: "'already installed' not in tfenv_install.stdout"
  when: ansible_facts['distribution'] != 'MacOSX'
  tags: user
