snippet *
	**${1:text}**
snippet _
	**${1:text}**
snippet __
	__${1:text}__
snippet **
	**${1:text}**
snippet __
	__${1:bold}__
snippet http
	http://${1:link}
snippet link
	[${1:text}](${2:link})
snippet img
	![${1:text}](${2:link})
snippet h1
	# ${1:title}
snippet h2
	## ${1:title}
snippet h3
	### ${1:title}
snippet h4
	#### ${1:title}
snippet h5
	##### ${1:title}
snippet ```
	\`\`\`
	${1:code}
	\`\`\`
snippet ```l
	\`\`\`${1:language}
	${2:code}
	\`\`\`
