---
- name: package
  ansible.builtin.package:
    name: git
  become: true
  tags: admin

- name: storage
  ansible.builtin.package:
    name: git-lfs
  become: true
  tags: admin

- name: config
  ansible.builtin.copy:
    src: "{{ role_path }}/files/gitconfig"
    dest: ~/.gitconfig
    force: false
  tags: user

- name: ignore
  ansible.builtin.copy:
    src: "{{ role_path }}/files/.gitignore"
    dest: ~/.gitignore
    force: false
  tags: user
