---
- name: package
  ansible.builtin.package:
    name: "{{ 'emacs-nox' if ansible_distribution != 'MacOSX' else 'emacs' }}"
  become: true
  tags: admin

- name: manager
  ansible.builtin.git:
    repo: https://github.com/syl20bnr/spacemacs
    dest: ~/.emacs.d
    depth: 1
  tags: user

- name: config
  ansible.builtin.git:
    repo: https://github.com/fmind/spacemacs.d
    dest: ~/.spacemacs.d
    depth: 1
  tags: user
