snippet \b "Bold"
__$0__
endsnippet

snippet \i "Italic"
_$0_
endsnippet

snippet \frag "Fade-in Fragment"
<p class="fade-in fragment">
$0
</p>
endsnippet

snippet \code "Code snippet"
```
$0
```
endsnippet
