snippet document "document environment"
\begin{document}
$0
\end{document}
endsnippet

snippet frenchpack "import packages to support french and utf8"
\usepackage[francais]{babel}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
endsnippet
