---
- name: package
  community.general.pipx:
    name: thefuck
  tags: user

- name: directory
  ansible.builtin.file:
    path: ~/.config/thefuck/
    state: directory
    mode: 0750
  tags: user

- name: config
  ansible.builtin.file:
    src: "{{ role_path }}/files/settings.py"
    dest: ~/.config/thefuck/settings.py
    state: link
    force: true
  tags: user
