### BOOTSTRAPS ###

snippet pyscript "script template" b
#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""Description
"""

import argparse
import logging
import sys


def parse(arguments):
    parser = argparse.ArgumentParser(description=__doc__)

    return parser.parse_args(arguments)


if __name__ == '__main__':
    logging.basicConfig(format="[[%(levelname)s] %(asctime)s: %(message)s", level=logging.INFO)
    args = parse(sys.argv[1:])
    ${0}

    logging.info('Done')

endsnippet
