---
- name: package
  ansible.builtin.package:
    name: "{{ 'silversearcher-ag' if ansible_distribution | default('Unknown') != 'MacOSX' else 'the_silver_searcher' }}"
  become: true
  tags: admin

- name: ignore
  ansible.builtin.file:
    src: "{{ role_path }}/files/agignore"
    dest: ~/.agignore
    state: link
    force: true
  tags: user
