---
- name: package
  ansible.builtin.package:
    name: w3m
  become: true
  tags: admin

- name: images
  ansible.builtin.package:
    name: w3m-img
  when: ansible_distribution | default('Unknown') != 'MacOSX'
  become: true
  tags: admin
