---
- name: dependencies
  ansible.builtin.package:
    name:
      - curl
      - gnupg
      - ca-certificates
    state: present
  when: ansible_facts['distribution'] != 'MacOSX'
  become: true
  tags: admin

- name: directory
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"
  when: ansible_facts['distribution'] != 'MacOSX'
  become: true
  tags: admin

- name: keyring
  ansible.builtin.get_url:
    url: "https://download.docker.com/linux/{{ ansible_facts['distribution']|lower }}/gpg"
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"
    force: true
  when: ansible_facts['distribution'] != 'MacOSX'
  become: true
  tags: admin

- name: repository
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ 'amd64' if ansible_facts['architecture'] == 'x86_64' else 'arm64' }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_facts['distribution']|lower }} {{ ansible_facts['distribution_release'] }} stable"
    filename: docker
  when: ansible_facts['distribution'] != 'MacOSX'
  become: true
  tags: admin

- name: package
  ansible.builtin.package:
    name: "{{ 'docker-ce' if ansible_facts['distribution'] != 'MacOSX' else 'docker' }}"
  become: true
  tags: admin

- name: interface
  ansible.builtin.package:
    name: docker-ce-cli
  when: ansible_facts['distribution'] != 'MacOSX'
  become: true
  tags: admin

- name: container
  ansible.builtin.package:
    name: containerd.io
  when: ansible_facts['distribution'] != 'MacOSX'
  become: true
  tags: admin

- name: compose
  ansible.builtin.package:
    name: "{{ 'docker-compose-plugin' if ansible_facts['distribution'] != 'MacOSX' else 'docker-compose' }}"
  become: true
  tags: admin

- name: account
  ansible.builtin.user:
    name: "{{ ansible_facts['user_id'] }}"
    groups: docker
    append: true
  when: ansible_facts['distribution'] != 'MacOSX'
  become: true
  tags: admin
