---
- name: package
  unarchive:
    src: https://github.com/starship/starship/releases/latest/download/starship-{{ 'x86_64-unknown-linux-musl' if ansible_distribution != 'MacOSX' else 'aarch64-apple-darwin' }}.tar.gz
    dest: ~/.local/bin
    remote_src: yes
  tags: user

- name: directory
  ansible.builtin.file:
    name: ~/.config/
    state: directory
    mode: 0750
  tags: user

- name: config
  ansible.builtin.file:
    src: "{{ role_path }}/files/starship.toml"
    dest: ~/.config/starship.toml
    state: link
    force: true
  tags: user
