---
- name: package
  ansible.builtin.package:
    name: pandoc
  become: true
  tags: admin

- name: plugins
  ansible.builtin.package:
    name:
      - pandoc-citeproc
      - pandoc-plantuml-filter
  when: ansible_distribution | default('Unknown') != 'MacOSX'
  become: true
  tags: admin
