---
- name: package
  ansible.builtin.package:
    name: neovim
  become: true
  tags: admin

- name: python
  ansible.builtin.package:
    name: python3-neovim
  when: ansible_distribution != 'MacOSX'
  become: true
  tags: admin

- name: alternatives
  alternatives:
    name: "{{ item }}"
    path: /usr/bin/nvim
  when: ansible_distribution != 'MacOSX'
  with_items:
    - vi
    - vim
  become: true
  tags: admin

- name: directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: 0750
  with_items:
    - ~/.local/share/nvim/session
    - ~/.local/share/nvim/site/autoload/
  tags: user

- name: manager
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: ~/.local/share/nvim/site/autoload/plug.vim
  tags: user

- name: config
  ansible.builtin.git:
    repo: https://github.com/fmind/nvim.d
    dest: ~/.config/nvim
  notify: Install nvim plugins
  tags: user
