---
- name: interpreter
  community.general.pipx:
    name: ipython
  tags: user

- name: config
  ansible.builtin.git:
    repo: https://github.com/fmind/ipython.d
    dest: ~/.ipython
    depth: 1
    update: false
  tags: user
