name: Continuous Integration (CI)
on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:
jobs:
  ansible-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - name: Install ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible
      - name: Run Ansible Check
        run: ansible-playbook site.yml --syntax-check
